.dark {
    background: dimgrey;
}

.blue {
    background-color: #3cefff;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: #000000;
}

.green {
    background: lightgreen;
}

.darkslateblue {
    background-color: darkslateblue;
}

.darkslateblue-text {
    color: rgb(255, 234, 0);
}
