.superInput {
    position: relative;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f7f3ff;
    border-radius: 15px;
}

.superInput:focus {
    outline: none;
}

.errorInput {
    position: relative;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f7f3ff;
    border-radius: 15px;
}

.error {
    color: red;
}

