.main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}


.link {
    text-decoration: none;
    color: #414eff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
}

.linkGold {
    text-decoration: none;
    color: gold;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
}